body {
  background-color: rgb(182, 136, 136);
}

h1 {
  color: yellow;
}

/* .badcardpackage {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;  
}

.cardpackage {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
} */

#cards {
  background-color: rgb(230, 202, 111);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;  
}

#badcards {
  background-color: rgba(88, 88, 88, 0.123);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
